<h1 class="center-align">The Onion</h1>
<div id="wrapper">
    <h2 class="center-align"><i>Is it real or is it fake?</i></h2>
    <div id="articles" class="center-align"></div>
    <div id="notes"></div>
</div>