<h1 class="center-align">The Onion</h1>
<div id="wrapper">
    <h2 class="center-align"><i>Is it real or is it fake?</i></h2>
    <div class="row">
    	<div id="articles" class="center-align col s9"></div>
    	<div id="notes" class="col s3"></div>
    </div>
</div>